@import url(https://use.typekit.net/zdy2qty.css);

$logo-height: 63px;
$margin-desktop: 130px;
$margin-mobile: 30px;

body {
  font-family: gopher, sans-serif;
  font-size: 1rem;
  line-height: 30px;
  color: #4a4a4a;
}

.wrap {
  margin-top: 117px;
}

.container {
  max-width: 1200px;
}

a {
  color: #CC9B7A;

  &:hover {
    color: darken(#cc9b7a, 5);
  }
}

a:hover {
  color: #cc9b7a;
  text-decoration: none;
}

h2 {
  font-family: conglomerate, serif;
  color: #cc9b7a;
  font-size: 36px;
  line-height: 48px;

  &.heading {
    margin-bottom: 40px;
  }
}

button,
.button {
  width: 100%;
  height: 60px;
  border: 0;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  color: white;

  &.green {
    background: #3a4736;

    &:hover {
      background: darken(#3a4736, 5);
    }
  }

  &.gold {
    background: #cc9b7a !important;

    &:hover {
      background: darken(#cc9b7a, 5);
    }
  }
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: 'conglomerate';
  position: relative;

  height: 300px;
  font-size: 30px;
  line-height: 30px;

  span {
    width: calc(100% - ($margin-mobile*2));
    position: absolute;
    text-align: right;

    bottom: $margin-mobile;
    right: $margin-mobile;
  }
}

header {
  padding: 1.875rem $margin-mobile;
  background-color: #3a4736;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
  }

  .brand {
    margin-right: 20px;

     img {
      height: 50px;
      width: auto;
      margin-top: 7px;
     }
  }

  .nav-primary {
    ul {
      li {
        &.current_page_item,
        &:hover {
          a {
            color: #b0b5af;
          }
        }
      }
    }
  }

  .brand,
  .nav-primary {
    flex: 1 1 auto;

    img,
    ul,
    li {
      line-height: $logo-height;
    }
  }

  #btn-hamburger {
    cursor: pointer;
    display: block;
  }

  .nav-primary {
    display: none;
  }
}

.nav-mobile {
  padding: $margin-desktop 4.063rem;
  position: fixed;
  z-index: 999;
  background: #3a4736;
  width: 100%;
  left: 0;
  top: -100%;
  transition: all 0.5s ease;

  .container {
    display: block;
  }

  &.expanded {
    top: 0;
    transition: all 0.5s ease;
  }

  .btn-close {
    text-align: right;
    display: block;
    cursor: pointer;

    img {
      width: 22px;
      height: auto;
      margin: 23px 0;
    }
  }

  .nav {
    li {
      display: block;
      text-align: right;
      width: 100%;
      padding: 16px 0;

      a {
        padding: 0;
        font-size: 18px;
        color: #cc9b7a;
      }
    }
  }
}

ul, p {
  margin: 0;
}

blockquote.banner-quote {
  font-style: italic;
  text-align: center;
  margin: 0;
  width: 100%;
  color: #cc9b7a;
  background: #ffe5d4;
  padding: 30px;
  font-size: 24px;
  line-height: 32px;

  span {
    font-family: conglomerate, serif;
    max-width: 900px;
    display: block;
    margin: 0 auto;
  }

  small {
    font-size: 16px;
    font-family: gopher;
  }
}

.banner {
  background: white;
  margin: $margin-desktop;
}

#menu-main-menu {
  justify-content: flex-end;
}

header .nav li {
  @extend .nav-item;

  a {
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    font-family: 'conglomerate';
  }
}

.blocks {
  display: flex;
  flex-direction: column;

  .block {
    flex: 0 1 50vw;

    &.green {
      background: #3a4736;
      color: #cc9b7a;

      h2 {
        color: #cc9b7a;
      }
    }

    &.gold {
      background: #cc9b7a;
      color: #3a4736;

       h2 {
         color: #3a4736;
       }
    }

    .content {
      width: 100%;
      padding: calc(#{$margin-mobile} * 2) $margin-mobile;

      p {
        margin: 16px 0 65px;
      }
    }
  }
}


////////// * SUBCONSCIOUS * //////////


.blocks.subconscious {
  padding: $margin-mobile $margin-mobile 115%;
  background: url(http://naniurie.kinsta.cloud/wp-content/uploads/2021/02/female-silhouette-photo-e1614099371467.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 95%;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .block {
    padding: 0;

    &.right {
      flex-basis: auto;
      padding: 0;

      p {
        margin-top: 10vw;
      }
    }
  }
}



////////// * HYPNOTHERAPY * //////////

.page.hypnotherapy {
  .block.hypnotherapy {
    background: #3a4736;
    max-width: none;
    flex-shrink: 0;
    height: auto;
    color: #cc9b7a;
  }

  .faq {
    margin-top: $margin-desktop;
    margin-bottom: $margin-desktop;
  }
}

/* Accordion */

#sp-ea-63.sp-easy-accordion {
  .sp-ea-single {
    background: none;

    .ea-header {
      background: #FFEFE5;

      &:hover {
        background: darken(#cc9b7a, 5);
      }

      a {
        font-size: 16px;
        line-height: 30px;
        font-weight: bold;
      }
    }

    .ea-body {
      p {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}



////////// * BODY CODE * //////////

.page.bodycode {
  .block.body-code {
    background: #cc9b7a;
    max-width: none;
    flex-shrink: 0;
    height: auto;

    h2 {
      color: #4a4a4a;
    }
  }

  .balance-methods {
    padding: 0 0 $margin-desktop;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;

      li {
        flex: 0 0 100%;
        overflow: hidden;

        span {
          display: block;
          padding: 48px;
          margin: 12px;
          height: auto;
          font-size: 16px;
          line-height: 30px;
          color: #CC9B7A;
          text-align: left;
          background: #FFEFE5;
        }
      }
    }
  }

  .benefits {
    margin-bottom: $margin-desktop;

    ul {
      column-count: 1;
      column-fill: auto;
      margin-bottom: 48px;

      li {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}


////////// * TESTIMONIALS * //////////


.testimonials {
  display: block;
  padding: calc(#{$margin-mobile} * 2) $margin-mobile;

  h2 {
    margin: 0 0 24px;
  }

  #sample_slider {
    .owl-stage-outer {
      width: 100% !important;
      margin: 0 auto;
    }

    .owl-nav {
      position: absolute;
      top: 0;
      width: 100%;
      display: none !important;

      button {
        width: 46px !important;
        height: 106px !important;
        background: #cc9b7a !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        margin: 0 !important;

        &.owl-next {
          right: 0;
          background-image: url('http://naniurie.kinsta.cloud/wp-content/uploads/2021/02/arrow_right.svg') !important;

          &:hover {
            transition: auto !important;
            filter: brightness(90%);
          }
        }

        &.owl-prev {
          left: 0;
          background-image: url('http://naniurie.kinsta.cloud/wp-content/uploads/2021/02/arrow_left.svg') !important;

          &:hover {
            transition: auto !important;
            filter: brightness(90%);
          }
        }
      }
    }

    .owl-dots {
      button {
        width: auto;
        height: auto;
        span {
          border-radius: 0 !important;
          width: calc(100vw/12) !important;
          height: 5px !important;
          background: #ffe5d4 !important;
        }

        &.active {
          span {
            background: #cc9b7a !important;
          }
        }
      }
    }
  }
}

.page.about {
  .hero {
    min-height: 680px;
    height: auto;
    background-position-y: -80px;
  }

  .block {
    .icon {
      margin-bottom: 42px;
    }
  }

  .continued-education {
    padding: $margin-desktop 0;
    background: #FFE5D4;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;

      li {
        font-size: 16px;
        line-height: 21px;
        color: #CC9B7A;
        flex: 0 0 100%;
        font-weight: bold;
        overflow: hidden;

        span {
          position: relative;
          display: block;
          border: solid 2px #CC9B7A;
          padding: 24px;
          margin: 12px;
          height: 195px;
          text-align: center;

          .icon {
            display: block;
            width: 23px;
            height: auto;
            position: absolute;
            left: calc(50% - 23px/2);
            bottom: 23px;
          }
        }
      }
    }
  }
}





.page.contact {
  h2 {
    margin: $margin-desktop 0 30px;
  }

  .contact-info {
    display: flex;
    line-height: 1.6;
    flex-direction: row;
    flex-wrap: wrap;

    .left {
      flex: 1 1 100%;
      margin-bottom: $margin-desktop;
    }

    .wpforms-container {
      flex: 1 1 100%;
      margin-bottom: $margin-desktop;
    }

    .addresshours {
      display: flex;
      margin: 40px 0;
      flex-direction: column;
    }

    .address {
      margin: 0 0 24px 0;
    }

    .fees {
      ul {
        padding: 0;
        margin-bottom: 24px;
        list-style-type: none;

        li {
          margin: 24px 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .forms {
    margin: 0;
    padding: 0;
    text-align: center;

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 24px 0 $margin-desktop;

      button {
        margin: 2px;
        flex: 0 0 100%;
        padding: 20px 10px;
        height: auto;
        width: auto;
        text-align: left;

        span {
          line-height: 1;
        }

        .icon {
          display: inline;
          margin: 0 10px;
        }
      }
    }
  }

  div.wpforms-container-full .wpforms-form input[type=submit],
  div.wpforms-container-full .wpforms-form button[type=submit],
  div.wpforms-container-full .wpforms-form .wpforms-page-button {
    @extend .button;
    @extend .gold;
  }
}





footer {
  border-top: solid 1px #909090;
  font-size: 13px;
  line-height: 20px;
  text-align: center;

  strong {
    font-size: 16px;
  }

  .blocks.container {
    padding: 0;
    display: block;

    .block.map {
      height: 500px;
      margin-bottom: 20px;
    }

    .block.info {
      .left,
      .right {
        margin: 50px 0;
      }

      .left {
        .phone {
          font-family: 'conglomerate';
          color: #CC9B7A;
          font-size: 36px;
          line-height: 48px;
        }

        .address {
          margin: 16px 0 32px;
        }
      }

      .right {
        .brand {
          display: block;
          margin: 10px auto;

          img {
            width: 100%;
            height: auto;
            max-width: 200px;
          }
        }
      }
    }
  }

  .menu {
    background: #3a4736;
    margin: 0;
    padding: 20px 0;

    .menu-item {
      display: block;
      line-height: 44px;

      a {
        color: #b0b5af;
        font-size: 16px;
        line-height: 20px;
        font-family: 'conglomerate';
      }

      &.current-menu-item,
      &:hover {
        a {
          color: #cc9b7a;
        }
      }
    }
  }
}




@media (min-width: 480px) {
  .page.about {
    .continued-education {
      ul {
        li {
          flex: 0 0 50%;

          span {
            padding: 24px 12px;
            margin: 6px;
          }
        }
      }
    }
  }
}

@media (min-width: 540px) {
  button {
    width: 230px;
  }

  .blocks.subconscious {
    padding: 50px 50px 115%;

    .block {
      &.right {
        padding: 0 50px;
      }
    }
  }
}

@media (min-width: 651px) {
  header {
    padding: 1.875rem 4.063rem;
  }

  .hero {
    height: 740px;
    font-size: 60px;
    line-height: 70px;

    span {
      width: 50%;
      bottom: 100px;
      right: $margin-desktop;
    }
  }

  blockquote.banner-quote {
    font-style: italic;
    text-align: center;
    margin: 0;
    width: 100%;
    color: #cc9b7a;
    background: #ffe5d4;
    padding: 80px;
    font-size: 36px;
    line-height: 43px;

    span {
      font-family: conglomerate, serif;
      max-width: 900px;
      display: block;
      margin: 0 auto;
    }

    small {
      font-size: 16px;
      font-family: gopher;
    }
  }

  .blocks {
    &.subconscious {
      padding: 50px 35px;
      background-position-x: -320px;
      background-size: auto 110%;
      height: 600px;

      .block.right {
        flex-basis: 68%;
        padding-right: 0;
      }
    }

    button {
      width: 230px;
    }

    .block {
      .content {
        margin: 20%;
        width: 60%;
      }
    }
  }

  .testimonials {
    padding: 100px 5%;

    h2 {
      margin: 0 0 100px;
    }

    #sample_slider {
      .sa_hover_container {
        padding: 0 60px;
      }

      .owl-nav {
        display: block !important;
      }
    }
  }

  .page.about {
    .continued-education {
      ul {
        li {
          flex: 0 0 33%;

          span {
            padding: 24px 12px;
            margin: 6px;
          }
        }
      }
    }
  }

  .page.bodycode {
    .balance-methods {
      ul {
        li {
          flex: 0 0 50%;

          span {
            height: 350px;
          }
        }
      }
    }

    .benefits {
      ul {
        column-count: 2;
      }
    }
  }

  .page.contact {
    .contact-info {
      .left {
        flex: 1 1 50%;
        padding-right: 32px;
      }

      .wpforms-container {
        flex: 1 1 50%;
      }
    }

    .forms {
      .buttons {
        button {
          text-align: center;
          margin: 2px;
          flex: 0 0 29%;

          .icon {
            display: block;
            margin: 0 auto 10px;
          }
        }
      }
    }
  }

  footer {
    .block.info {
      display: flex;
      justify-content: space-around;

      .left {
        text-align: left;
      }

      .right {
        text-align: right;

        .brand {
          margin-top: 10px;
        }
      }
    }

    .menu {
      .menu-item {
        display: inline;
        line-height: 44px;
        margin: 0 16px;
      }
    }
  }
}

@media (min-width: 769px) {
  .blocks {
    &.subconscious {
      .block.right {
        padding-right: 4vw;
      }
    }
  }

  .testimonials {
    #sample_slider {
      .sa_hover_container {
        padding: 0 $margin-desktop !important;
      }
    }
  }

  .page.about {
    .hero {
      min-height: auto;
    }

    .block {
      .icon {
        float: left;
        margin: 0 100px 300px 0;
      }
    }

    .continued-education {
      ul {
        li {
          flex: 0 0 25%;

          span {
            padding: 24px 12px;
            margin: 6px;

            .icon {
              bottom: 12px;
            }
          }
        }
      }
    }
  }

  .page.bodycode {
    .benefits {
      ul {
        column-count: 3;
      }
    }
  }

  .page.contact {
    .contact-info {
      .left {
        flex: 1 1 50%;
        padding-right: 32px;
      }

      .wpforms-container {
        flex: 1 1 50%;
      }
    }

    .forms {
      text-align: left;

      .buttons {
        button {
          flex: 1 1 18%;
        }
      }
    }
  }

  footer {
    border-top: solid 1px #909090;
    .blocks.container { // should kill class from markup altogether
      display: flex;
      max-width: none;
      flex-direction: row;

      .block.info {
        flex-direction: column;
        max-width: 720px; //compensate for container having no max-width, reason is so map goes flush with left edge of window

        .left,
        .right {
          margin: 0 0 0 50px;
          text-align: left;
        }
      }

      .block.map {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 993px) {
  header {
    #btn-hamburger {
      display: none;
    }

    .nav-primary {
      display: block;
    }
  }

  .blocks {
    flex-direction: row;

    &.subconscious {
      background-size: contain;
      background-position-x: -80px;
      height: 640px;

      .block {
        max-width: 460px;
        padding: 0 4vw 0 0;
      }
    }
  }

  .page.about {
    .hero {
      background-position-y: center;
    }

    .block {
      .icon {
        float: none;
        margin: 0 0 42px;
      }
    }

    .continued-education {
      ul {
        li {
          span {
            padding: 24px;
            margin: 12px;

            .icon {
              bottom: 23px;
            }
          }
        }
      }
    }
  }

  .page.bodycode {
    .balance-methods {
      ul {
        li {
          flex: 0 0 33%;
        }
      }
    }
  }

  .page.contact {
    .contact-info {
      .addresshours {
        flex-direction: row;
      }

      .address {
        margin: 0 24px 24px 0;
      }

      .wpforms-container {
        flex: 1 1 420px;
      }
    }
  }

  footer {
    .blocks.container {
      .block.info {
        padding-top: 50px;
        flex-direction: row;

        .left,
        .right {
          margin-left: 10px;
        }

        .right {
          width: 40%;
          padding-right: 50px;

          .copyright {
            margin-top: 2rem;
            font-size: 10px;
            text-align: right;
            line-height: 1.5;
          }
        }
      }
    }

    .menu {
      .menu-item {
        display: inline;
        line-height: 44px;
        margin: 0 32px;
      }
    }
  }
}

@media (min-width: 1201px) {
  .blocks {
    &.subconscious {
      height: 740px;
      padding: 100px 2vw 100px $margin-desktop;
      background-position-x: left;

      .block.right {
        max-width: 460px;
      }
    }
  }

  footer {
    .blocks.container {
      .block.info {
        .right {
          width: auto;
        }
      }
    }
  }
}

@media (min-width: 1441px) {
  .blocks {
    &.subconscious {
      padding-right: 12vw;
    }
  }
}















/* Icon 1 */

#btn-hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  margin-top: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#btn-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #cc9b7a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#btn-hamburger span:nth-child(1) {
  top: 0px;
}

#btn-hamburger span:nth-child(2),
#btn-hamburger span:nth-child(3) {
  top: 12px;
}

#btn-hamburger span:nth-child(4) {
  top: 24px;
}

#btn-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#btn-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#btn-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#btn-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
