@import url(https://use.typekit.net/zdy2qty.css);

$bp-mobile: 480px;
$bp-tablet-sm: 540px;
$bp-tablet-md: 650px;
$bp-tablet-lg: 768px;
$bp-desktop-sm: 992px;
$bp-desktop-md: 1200px;
$bp-desktop-lg: 1440px;

$logo-height: 3.938rem;
$margin-desktop: 8.125rem;
$margin-tablet: 5rem;
$margin-mobile: 1.875rem;

body {
  font-family: gopher, sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #4a4a4a;
}

.wrap {
  margin-top: 7.313rem;
}

.container {
  max-width: 75rem;
}

a {
  color: #CC9B7A;

  &:hover {
    color: darken(#cc9b7a, 5);
  }
}

a:hover {
  color: #cc9b7a;
  text-decoration: none;
}

h2 {
  font-family: conglomerate, serif;
  color: #cc9b7a;
  font-size: 2.25rem;
  line-height: 3rem;

  &.heading {
    margin-bottom: 2.5rem;
  }
}

button,
.button {
  width: 100%;
  height: 3.75rem;
  border: 0;
  font-size: 1rem;
  line-height: 1.313rem;
  padding: 0;
  margin: 0;
  color: white;

  &.green {
    background: #3a4736;

    &:hover {
      background: darken(#3a4736, 5);
    }
  }

  &.gold {
    background: #cc9b7a !important;

    &:hover {
      background: darken(#cc9b7a, 5) !important;
    }
  }
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: 'conglomerate';
  position: relative;

  height: 18.75rem;
  font-size: 1.875rem;
  line-height: 1.875rem;

  span {
    width: calc(100% - (#{$margin-mobile} * 2));
    position: absolute;
    text-align: right;

    bottom: $margin-mobile;
    right: $margin-mobile;
  }
}

header {
  padding: 1.875rem $margin-mobile;
  background-color: #3a4736;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
  }

  .brand {
    margin-right: 1.25rem;

     img {
      height: 3.125rem;
      width: auto;
      margin-top: 0.438rem;
     }
  }

  .nav-primary {
    ul {
      li {
        &.current_page_item,
        &:hover {
          a {
            color: #b0b5af;
          }
        }
      }
    }
  }

  .brand,
  .nav-primary {
    flex: 1 1 auto;

    img,
    ul,
    li {
      line-height: $logo-height;
    }
  }

  #btn-hamburger {
    cursor: pointer;
    display: block;
  }

  .nav-primary {
    display: none;
  }
}

.nav-mobile {
  padding: $margin-desktop 4.063rem;
  position: fixed;
  z-index: 999;
  background: #3a4736;
  width: 100%;
  left: 0;
  top: -100%;
  transition: all 0.5s ease;

  .container {
    display: block;
  }

  &.expanded {
    top: 0;
    transition: all 0.5s ease;
  }

  .btn-close {
    text-align: right;
    display: block;
    cursor: pointer;

    img {
      width: 1.375rem;
      height: auto;
      margin: 1.438rem 0;
    }
  }

  .nav {
    li {
      display: block;
      text-align: right;
      width: 100%;
      padding: 1rem 0;

      a {
        padding: 0;
        font-size: 1.125rem;
        color: #cc9b7a;
      }
    }
  }
}

ul, p {
  margin: 0;
}

blockquote.banner-quote {
  font-style: italic;
  text-align: center;
  margin: 0;
  width: 100%;
  color: #cc9b7a;
  background: #ffe5d4;
  padding: 1.875rem;
  font-size: 1.25rem;
  line-height: 2.25rem;

  span {
    font-family: conglomerate, serif;
    max-width: 56.25rem;
    display: block;
    margin: 0 auto;
  }

  small {
    font-size: 1rem;
    font-family: gopher;
  }
}

.banner {
  background: white;
  margin: calc(#{$margin-mobile} * 2) $margin-mobile;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}

#menu-main-menu {
  justify-content: flex-end;
}

header .nav li {
  @extend .nav-item;

  a {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: 'conglomerate';
  }
}

.blocks {
  display: flex;
  flex-direction: column;

  .block {
    flex: 0 1 50vw;

    &.green {
      background: #3a4736;
      color: #cc9b7a;

      h2 {
        color: #cc9b7a;
      }
    }

    &.gold {
      background: #cc9b7a;
      color: #3a4736;

       h2 {
         color: #3a4736;
       }
    }

    &.img {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .content {
      width: 100%;
      padding: calc(#{$margin-mobile} * 2) $margin-mobile;

      h2 {
        margin-bottom: 1rem;
      }

      button,
      .button {
        margin-top: 4.063rem;
      }
    }
  }
}


////////// * SUBCONSCIOUS * //////////


.blocks.subconscious {
  padding: $margin-mobile $margin-mobile 115%;
  background: url(http://naniurie.kinsta.cloud/wp-content/uploads/2021/02/female-silhouette-photo-e1614099371467.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 95%;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .block {
    padding: 0;

    &.right {
      flex-basis: auto;
      padding: 0;

      p {
        margin-top: 10vw;
      }
    }
  }
}



////////// * HYPNOTHERAPY * //////////

.page.hypnotherapy {
  .hero {
    background-position-x: 0;


  }

  .block.hypnotherapy {
    background: #3a4736;
    max-width: none;
    flex-shrink: 0;
    height: auto;
    color: #cc9b7a;
  }

  .faq {
    margin-top: $margin-desktop;
    margin-bottom: $margin-desktop;





    /* Accordion styles */
    .tabs {
      overflow: hidden;
    }
    .tab {
      width: 100%;
      color: #3a4736;
      overflow: hidden;
      margin-bottom: 0.625rem;
      &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: #ffefe5;
        font-weight: bold;
        cursor: pointer;
        margin: 0;

        &::after {
          content: "\25BC";
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all .35s;
        }
      }
      &-content {
        max-height: 0;
        padding: 0 1em;
        color: #3a4736;
        background: #ffefe5;
        transition: all .35s;
      }
      &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: #ffefe5;
        cursor: pointer;
      }
    }

    // :checked
    input {
      display: none;

      &:checked {
        + .tab-label {
          &::after {
            transform: rotate(180deg);
          }
        }
        ~ .tab-content {
          max-height: 100vh;
          padding: 1em;
          background: #ffefe5;
        }
      }
    }
  }
}


/* Accordion */

#sp-ea-63.sp-easy-accordion {
  .sp-ea-single {
    background: none;

    .ea-header {
      background: #FFEFE5;

      a {
        font-size: 1rem;
        line-height: 1.875rem;
        font-weight: bold;
      }
    }

    .ea-body {
      p {
        font-size: 1rem;
        line-height: 1.875rem;
      }
    }
  }
}



////////// * BODY CODE * //////////

.page.bodycode {
  .block.body-code {
    background: #cc9b7a;
    max-width: none;
    flex-shrink: 0;
    height: auto;

    h2 {
      color: #4a4a4a;
    }
  }

  .balance-methods {
    padding: 0 0 $margin-desktop;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;

      li {
        flex: 0 0 100%;
        overflow: hidden;

        span {
          display: block;
          padding: 3rem;
          margin: 0.75rem;
          height: auto;
          font-size: 1rem;
          line-height: 1.875rem;
          color: #CC9B7A;
          text-align: left;
          background: #FFEFE5;
        }
      }
    }
  }

  .benefits {
    margin-bottom: $margin-desktop;

    ul {
      column-count: 1;
      column-fill: auto;
      margin-bottom: 3rem;

      li {
        font-size: 1rem;
        line-height: 1.875rem;
      }
    }
  }
}


////////// * TESTIMONIALS * //////////


.testimonials {
  display: block;
  padding: calc(#{$margin-mobile} * 2) $margin-mobile;

  h2 {
    margin: 0 0 1.5rem;
  }

  #sample_slider {
    .owl-stage-outer {
      width: 100% !important;
      margin: 0 auto;
    }

    .owl-nav {
      position: absolute;
      top: 0;
      width: 100%;
      display: none !important;

      button,
      .button {
        width: 2.875rem !important;
        height: 6.625rem !important;
        background: #cc9b7a !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        margin: 0 !important;

        &.owl-next {
          right: 0;
          background-image: url('http://naniurie.kinsta.cloud/wp-content/uploads/2021/02/arrow_right.svg') !important;

          &:hover {
            transition: auto !important;
            filter: brightness(90%);
          }
        }

        &.owl-prev {
          left: 0;
          background-image: url('http://naniurie.kinsta.cloud/wp-content/uploads/2021/02/arrow_left.svg') !important;

          &:hover {
            transition: auto !important;
            filter: brightness(90%);
          }
        }
      }
    }

    .owl-dots {
      button,
      .button {
        width: auto;
        height: auto;
        span {
          border-radius: 0 !important;
          width: calc(100vw/12) !important;
          height: 0.313rem !important;
          background: #ffe5d4 !important;
        }

        &.active {
          span {
            background: #cc9b7a !important;
          }
        }
      }
    }
  }
}

.page.about {
  .hero {
    min-height: 80vw;
    background-position-y: 0;
  }

  .block {
    &.img {
      background-position-y: -5rem;
    }

    .icon {
      margin-bottom: 2.625rem;
    }
  }

  .continued-education {
    padding: $margin-desktop 0;
    background: #FFE5D4;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1rem;
        line-height: 1.313rem;
        color: #CC9B7A;
        flex: 0 0 100%;
        font-weight: bold;
        overflow: hidden;

        span {
          position: relative;
          display: block;
          border: solid 0.125rem #CC9B7A;
          padding: 1.5rem;
          margin: 0.75rem;
          height: 12.188rem;
          text-align: center;

          .icon {
            display: block;
            width: 1.438rem;
            height: auto;
            position: absolute;
            left: calc(50% - 1.438rem/2);
            bottom: 1.438rem;
          }
        }
      }
    }
  }
}





.page.contact {
  h2 {
    margin: $margin-desktop 0 1.875rem;
  }

  .contact-info {
    display: flex;
    line-height: 1.6;
    flex-direction: row;
    flex-wrap: wrap;

    .left {
      flex: 1 1 100%;
      margin-bottom: $margin-desktop;
    }

    .wpforms-container {
      flex: 1 1 100%;
      margin-bottom: $margin-desktop;
    }

    .addresshours {
      display: flex;
      margin: 2.5rem 0;
      flex-direction: column;
    }

    .address {
      margin: 0 0 1.5rem 0;
    }

    .fees {
      ul {
        padding: 0;
        margin-bottom: 1.5rem;
        list-style-type: none;

        li {
          margin: 1.5rem 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .forms {
    margin: 0;
    padding: 0;
    text-align: center;

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1.5rem 0 $margin-desktop;

      button,
      .button {
        margin: 0.125rem;
        flex: 0 0 100%;
        padding: 1.25rem 0.625rem;
        height: auto;
        width: auto;
        text-align: left;

        span {
          line-height: 1;
        }

        .icon {
          display: inline;
          margin: 0 0.625rem;
        }
      }
    }
  }

  div.wpforms-container-full .wpforms-form input[type=submit],
  div.wpforms-container-full .wpforms-form button[type=submit],
  div.wpforms-container-full .wpforms-form .wpforms-page-button {
    @extend .button;
    @extend .gold;
  }

  select {
    width: 100%;
    height: 3.75rem;
    display: block;
    margin: 5rem 0 1.25rem;
  }
}





footer {
  border-top: solid 0.063rem #909090;
  font-size: 0.813rem;
  line-height: 1.25rem;
  text-align: center;

  strong {
    font-size: 1rem;
  }

  .blocks.container {
    padding: 0;
    display: block;

    .block.map {
      height: 31.25rem;
      margin-bottom: 1.25rem;
    }

    .block.info {
      .left,
      .right {
        margin: 3.125rem 0;
      }

      .left {
        .phone {
          font-family: 'conglomerate';
          color: #CC9B7A;
          font-size: 2.25rem;
          line-height: 3rem;
        }

        .address {
          margin: 1rem 0 2rem;
        }
      }

      .right {
        .brand {
          display: block;
          margin: 0.625rem auto;

          img {
            width: 100%;
            height: auto;
            max-width: 12.5rem;
          }
        }
      }
    }
  }

  .menu {
    background: #3a4736;
    margin: 0;
    padding: 1.25rem 0;

    .menu-item {
      display: block;
      line-height: 2.75rem;

      a {
        color: #b0b5af;
        font-size: 1rem;
        line-height: 1.25rem;
        font-family: 'conglomerate';
      }

      &.current-menu-item,
      &:hover {
        a {
          color: #cc9b7a;
        }
      }
    }
  }
}




@media (min-width: $bp-mobile) {
  .page.about {
    .continued-education {
      ul {
        li {
          flex: 0 0 50%;

          span {
            padding: 1.5rem 0.75rem;
            margin: 0.375rem;
          }
        }
      }
    }
  }
}

@media (min-width: ($bp-tablet-sm + 1)) {
  .banner {
    text-align: left;
    margin: $margin-tablet;
  }

  button,
  .button {
    width: 14.375rem;
  }

  .page.contact {
    select {
      width: auto;
    }
  }

  .blocks.subconscious {
    padding: 3.125rem 3.125rem 115%;

    .block {
      &.right {
        padding: 0 3.125rem;
      }
    }
  }
}

@media (min-width: ($bp-tablet-md + 1)) {
  header {
    padding: 1.875rem 4.063rem;
  }

  .hero {
    height: 46.25rem;
    font-size: 3.75rem;
    line-height: 4.375rem;

    span {
      width: 50%;
      bottom: 6.25rem;
      right: $margin-desktop;
    }
  }

  blockquote.banner-quote {
    font-style: italic;
    text-align: center;
    margin: 0;
    width: 100%;
    color: #cc9b7a;
    background: #ffe5d4;
    padding: $margin-tablet;
    font-size: 2.25rem;
    line-height: 2.688rem;

    span {
      font-family: conglomerate, serif;
      max-width: 56.25rem;
      display: block;
      margin: 0 auto;
    }

    small {
      font-size: 1rem;
      font-family: gopher;
    }
  }

  .blocks {
    &.subconscious {
      padding: 3.125rem 2.188rem;
      background-position-x: -20rem;
      background-size: auto 110%;
      height: 37.5rem;

      .block.right {
        flex-basis: 68%;
        padding-right: 0;
      }
    }

    button,
    .button {
      width: 14.375rem;
    }

    .block {
      .content {
        padding: $margin-desktop;
      }
    }
  }

  .testimonials {
    padding: 6.25rem 5%;

    h2 {
      margin: 0 0 6.25rem;
    }

    #sample_slider {
      .sa_hover_container {
        padding: 0 3.75rem;
      }

      .owl-nav {
        display: block !important;
      }
    }
  }

  .page.about {
    .continued-education {
      ul {
        li {
          flex: 0 0 33%;

          span {
            padding: 1.5rem 0.75rem;
            margin: 0.375rem;
          }
        }
      }
    }
  }

  .page.bodycode {
    .balance-methods {
      ul {
        li {
          flex: 0 0 50%;

          span {
            height: 21.875rem;
          }
        }
      }
    }

    .benefits {
      ul {
        column-count: 2;
      }
    }
  }

  .page.contact {
    .contact-info {
      .left {
        flex: 1 1 50%;
        padding-right: 2rem;
      }

      .wpforms-container {
        flex: 1 1 50%;
      }
    }

    .forms {
      .buttons {
        button {
          text-align: center;
          margin: 0.125rem;
          flex: 0 0 29%;

          .icon {
            display: block;
            margin: 0 auto 0.625rem;
          }
        }
      }
    }
  }

  footer {
    .block.info {
      display: flex;
      justify-content: space-around;

      .left {
        text-align: left;
      }

      .right {
        text-align: right;

        .brand {
          margin-top: 0.625rem;
        }
      }
    }

    .menu {
      .menu-item {
        display: inline;
        line-height: 2.75rem;
        margin: 0 1rem;
      }
    }
  }
}

@media (min-width: ($bp-tablet-lg + 1)) {
  .blocks {
    &.subconscious {
      .block.right {
        padding-right: 4vw;
      }
    }
  }

  .testimonials {
    #sample_slider {
      .sa_hover_container {
        padding: 0 $margin-desktop !important;
      }
    }
  }

  .page.about {
    .block {
      .icon {
        float: left;
        margin: 0 6.25rem 18.75rem 0;
      }
    }

    .continued-education {
      ul {
        li {
          flex: 0 0 25%;

          span {
            padding: 1.5rem 0.75rem;
            margin: 0.375rem;

            .icon {
              bottom: 0.75rem;
            }
          }
        }
      }
    }
  }

  .page.bodycode {
    .benefits {
      ul {
        column-count: 3;
      }
    }
  }

  .page.contact {
    .contact-info {
      .left {
        flex: 1 1 50%;
        padding-right: 2rem;
      }

      .wpforms-container {
        flex: 1 1 50%;
      }
    }

    .forms {
      text-align: left;

      .buttons {
        button {
          flex: 1 1 18%;
        }
      }
    }
  }

  footer {
    border-top: solid 0.063rem #909090;
    .blocks.container { // should kill class from markup altogether
      display: flex;
      max-width: none;
      flex-direction: row;

      .block.info {
        flex-direction: column;
        max-width: 45rem; //compensate for container having no max-width, reason is so map goes flush with left edge of window

        .left,
        .right {
          margin: 0 0 0 3.125rem;
          text-align: left;
        }
      }

      .block.map {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: ($bp-desktop-sm + 1)) {
  header {
    #btn-hamburger {
      display: none;
    }

    .nav-primary {
      display: block;
    }
  }

  .banner {
    margin: $margin-desktop;
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .blocks {
    flex-direction: row;

    .block {
      .content {
        padding: $margin-tablet;
      }
    }

    &.subconscious {
      background-size: contain;
      background-position-x: -5rem;
      height: 40rem;

      .block {
        max-width: 28.75rem;
        padding: 0 4vw 0 0;
      }
    }
  }

  .page.about {
    .hero {
      background-position-y: center;
    }

    .block {
      &.img {
        background-position-y: 0;
      }

      .icon {
        float: none;
        margin: 0 0 2.625rem;
      }
    }

    .continued-education {
      ul {
        li {
          span {
            padding: 1.5rem;
            margin: 0.75rem;

            .icon {
              bottom: 1.438rem;
            }
          }
        }
      }
    }
  }

  .page.bodycode {
    .balance-methods {
      ul {
        li {
          flex: 0 0 33%;
        }
      }
    }
  }

  .page.contact {
    .contact-info {
      .addresshours {
        flex-direction: row;
      }

      .address {
        margin: 0 1.5rem 1.5rem 0;
      }

      .wpforms-container {
        flex: 1 1 26.25rem;
      }
    }
  }

  footer {
    .blocks.container {
      .block.info {
        padding-top: 3.125rem;
        flex-direction: row;

        .left,
        .right {
          margin-left: 0.625rem;
        }

        .right {
          width: 40%;
          padding-right: 3.125rem;

          .copyright {
            margin-top: 2rem;
            font-size: 0.625rem;
            text-align: right;
            line-height: 1.5;
          }
        }
      }
    }

    .menu {
      .menu-item {
        display: inline;
        line-height: 2.75rem;
        margin: 0 2rem;
      }
    }
  }
}

@media (min-width: ($bp-desktop-md + 1)) {
  .blocks {
    .block {
      .content {
        padding: $margin-desktop;
      }
    }

    &.subconscious {
      height: 46.25rem;
      padding: 6.25rem 2vw 6.25rem $margin-desktop;
      background-position-x: left;

      .block.right {
        max-width: 28.75rem;
      }
    }
  }

  footer {
    .blocks.container {
      .block.info {
        .right {
          width: auto;
        }
      }
    }
  }
}

@media (min-width: ($bp-desktop-lg + 1)) {
  .blocks {
    &.subconscious {
      padding-right: 12vw;
    }
  }
}















/* Icon 1 */

#btn-hamburger {
  background: transparent;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  margin-top: 1.063rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#btn-hamburger span {
  display: block;
  position: absolute;
  height: 0.125rem;
  width: 100%;
  background: #cc9b7a;
  border-radius: 0.563rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#btn-hamburger span:nth-child(1) {
  top: 0;
}

#btn-hamburger span:nth-child(2),
#btn-hamburger span:nth-child(3) {
  top: 0.75rem;
}

#btn-hamburger span:nth-child(4) {
  top: 1.5rem;
}

#btn-hamburger.open span:nth-child(1) {
  top: 1.125rem;
  width: 0%;
  left: 50%;
}

#btn-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#btn-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#btn-hamburger.open span:nth-child(4) {
  top: 1.125rem;
  width: 0%;
  left: 50%;
}
